@charset "UTF-8";
/* ==================== Color Start ==================== */
/* ==================== 배경 ==================== */
.bg-red{
  background-color:red;
}
.bg-skyblue{
  background-color:skyblue;
}
.bg-gray{
  background-color:gray;
}
/* ==================== 글자 색상 ==================== */
.color-red{
  color:red !important;
}
.color-skyblue{
  color:skyblue !important;
}
.color-gray{
  color:gray !important;
}
/* ==================== Color End ==================== */

/* ==================== Table Start ==================== */
.table{
  width: 100%;
}
/* ==================== Table End ==================== */

/* ==================== Button Start ==================== */
.btn{
  width: 100%;
}
/* ==================== Button End ==================== */

/* ==================== Layout Computer Start ==================== */
a,ul,li{
  text-decoration: none;
  list-style: none;
}


body{
  margin: 0 auto;
  position: relative;
  height: 100vh;
  .main{
    display: grid;
    grid-template-areas:
      "head head head"
      "content content content"
      "foot foot foot";
    grid-template-rows: 50px auto 50px;
    height: 100%;
    header{
      grid-area: head;
      width: 100%;
      height: 100px;
      background-color: skyblue;
      .header-wrap{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        .logo-wrap{
          width: 10%;
        }
        .nav-wrap{
          width: 75%;
          ul{
            display: flex;
            justify-content: space-evenly;
          }
        }
        .login-wrap{
          width: 15%;
          .signupandlogin{
            display: flex;
            gap: 20px;
          }
        }
      }
    }
  }
}
/* ==================== Layout Computer End ==================== */

/* ==================== Layout Tablet Start ==================== */
/* 태블릿 */
@media screen and (max-width:1023px) {

}
/* ==================== Layout Tablet End ==================== */

/* ==================== Layout Mobile Start ==================== */
/* 모바일 */
@media screen and (max-width:768px) {

}
/* ==================== Layout Mobile End ==================== */